html, body {
  height: 100%;
  margin: 0 0;
}
.ng-scope {
  height: 100%;
}
.map-container {
  width: 100%;
  height: 100%
  border: 1px red solid;
}

.map-nav {
  position: relative;
  width: 15%;
  height: 100%;
  float: left;
  background: #083A35;
}

.map-body {
  position: relative;
  width: 85%;
  height: 100%;
  float: right;
}

#map {
  width: auto;
  height: 100%;
}

.coverage-title {
  color: #7EC800;
}
