<section class="map-container">
  <nav class="map-nav">
    <h1 class="text-center coverage-title">Wifi-Coverage Map</h1>
    <h2 class="text-center coverage-title">Start Tracking</h2>
    <div class="collect-button" ng-click="getTrack()">Collect Sample</div>
    <br>
    <h2 class="text-center coverage-title">Add Coverage Sample</h2>
    <toggle-switch ng-model="addSample"></toggle-switch>
    <stop-watch></stop-watch>
  </nav>
  <div id='legend' class="legend-container" style='display:none;'>
  <strong>Wifi-Coverage</strong>
  <nav class='legend clearfix'>
    <span style='background:#045A8D;'></span>
    <span style='background:#74A9CF;'></span>
    <span style='background:#2cca25;'></span>
    <span style='background:#d0f211;'></span>
    <span style='background:#db2316;'></span>
    <label>0 - 20%</label>
    <label>40%</label>
    <label>60%</label>
    <label>80%</label>
    <label>100%</label>
    <small>Source: <a href="#link to source">Plott</a></small>
</div>
<coverage-data data="spotCoverage"></coverage-data>
  <main class="map-body">
    <div id="map"></div>
    <!-- <leaflet center="ruffin" markers="markers" layers="layers"></leaflet> -->
  </main>
</section>
