

<stop-watch id="timer" status="isCollecting" class="timer" ng-show="isCollecting"></stop-watch>
  <!-- <div  class="col-md-12 map-container"> -->
    <!-- <main class="map-body"> -->
      <!-- <div id="map"></div> -->
      <!-- <leaflet center="ruffin" markers="markers" layers="layers"></leaflet> -->
    <!-- </main> -->
  <!-- </div> -->

  <div id='legend' class="legend-container" style='display:none;'>
  <strong>Wifi-Coverage</strong>
  <nav class='legend clearfix'>
    <span style='background:#045A8D;'></span>
    <span style='background:#74A9CF;'></span>
    <span style='background:#2cca25;'></span>
    <span style='background:#d0f211;'></span>
    <span style='background:#db2316;'></span>
    <label>0 - 20%</label>
    <label>40%</label>
    <label>60%</label>
    <label>80%</label>
    <label>100%</label>
    <small>Source: <a href="#link to source">Plott</a></small>
</div>
<coverage-data id="coverage-data" data="spotCoverage"></coverage-data>

<!-- </section> -->
<!-- </div> -->

<div class="container-fluid map-container">
  <div class="row map-container">
    <div class="col-md-3">
      <div class="jumbotron" id="tile-coverage">
        <img class="img-circle coverage-pic" src="../images/plott-logo-black/scaled-at-25/white-text.png" alt="plott"/>
        <div id="map-control" class="map-nav animated fadeIn">
          <select ng-options="loc.address for loc in locations" ng-model="selectedLocation"></select>
          <select ng-options="" ng-model="selectedHide"></select>
          <select ng-show="selectedLocation.address !== 'Select a Location'" ng-options="owner.name for owner in owners" ng-model="selectedOwner" ng-change="getDogs(selectedOwner.ownerid)"></select>
          <select ng-options="dog.name for dog in dogs" ng-model="selectedDog"></select>

            <h2 class="text-center coverage-title">Wifi-Coverage Map</h2>

            <h2 class="text-center coverage-title">Track</h2>
            <div class="btn btn-primary center-block" ng-click="getTrack()" ng-hide="isCollecting">Start Tracking</div>
            <div class="btn btn-danger center-block" ng-click="stopTrack()" ng-show="isCollecting">Stop Tracking</div>
            <div class="btn btn-success center-block" ng-click="saveTrack()" ng-show="isCollecting">Save Track</div>
            <br>
            <h2 class="text-center coverage-title">Add Coverage Sample</h2>
            <toggle-switch ng-model="addSample"></toggle-switch>
        </div>
      </div>
    </div>
    <div class="col-md-9 map-container">
      <div id="map"></div>
    </div>
  </div>
</div>
