<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 animated slideInDown">
      <div class="jumbotron" id="tile">
        <img class="logo" src="../images/plott-logo-black/scaled-at-25/white-text.png" alt="plott"/>
        <p class="text-center"><a class="btn btn-primary btn-lg" href="/#/register" role="button">Register</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div class="jumbotron" id="subtile">
        <img class="logo" src="../images/plott-icon-white/scaled-at-25/Layer 2.png" alt="plott"/>
        <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="jumbotron" id="subtile">
        <img class="logo" src="../images/plott-icon-black/scaled-at-50/Layer 1.png" alt="plott"/>
        <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>
